@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
    SelectList items = new SelectList(ViewBag.Categories, "Id", "Name");

}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEdit" asp-controller="Admin" method="post" enctype="multipart/form-data" asp-route-Id="@Model.Id">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

             <div class="row">
                    <div class="col-8" >
                        <label asp-for="Image">Upload Images</label>
                        <input type="file" asp-for="Image" class="form-control" accept=".jpg, .jpeg, .png, .JPG, .JPEG, .PNG" id="LoadImage" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                     <div class="col-4">
                        <img src="~/Images/@Model.ImageName" class="ZoomHover" alt="Not Found" id="SelectedImage">
                    </div>
             </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">CategoryName</label>
                <select asp-for="CategoryId" asp-items="items" class="form-control">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Show" style="margin:20px">Back to Product</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
